body {
	margin: 0;
	padding: 0;
}
body:before {
	content: '';
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url(../images/bg-image.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.email-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 300px;
	padding: 80px 40px;
	background: rgba(0, 0, 0, 0.5);
}
.email-form h2 {
	margin: 0;
	padding: 0 0 20px;
	color: #fff;
	text-align: center;
}
.email-form p {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
	text-align: center;
}
.email-form span {
	position: relative;
	left: 20%;
	padding: 0 5px 0;
}
.email-form input {
	margin-bottom: 20px;
	text-align: center;
}
.email-form input::placeholder {
	color: #fff;
	opacity: 1;
}
.email-form input[type=text] {
	width: 60%;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.email-form input[type=text]:hover {
	border: none;
	border-bottom: 1px solid #fff;
	background: rgba(100, 125, 150, 0.9);
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.email-form input[type=reset], .email-form input[type=submit] {
	width: 25%;
	height: 30px;
	color: #fff;
	font-size: 15px;
	background: red;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
}
.email-form input[type=reset]:hover, .email-form input[type=submit]:hover {
	height: 35px;
	color: #fff;
	font-size: 20px;
	background: red;
	cursor: pointer;
	border-radius: 25px;
	border: none;
	outline: none;
}
.email-form a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
